@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var welcomes = (QuickType.Welcome[]) ViewData["Welcome"];
}

<div class="text-center">
    <h1 class="display-4">Police Report</h1>
    <hr/>
    <table border="1" width="90%">
        <tr>
            <th>Incident Number</th>
            <th>Date Reported</th>
            <th>Date of Clearence</th>
            <th>Address of Incident</th>
            <th>Location</th>
            <th>Neighbourhood</th>
            <th>Zip Code</th>
        </tr>
        @{
            foreach (QuickType.Welcome welcome in welcomes)
            {
                <tr>
                    <td>
                        @welcome.IncidentNo
                    </td>
                    <td>
                        @welcome.DateReported
                    </td>
                    <td>
                        @welcome.DateOfClearance
                    </td>
                    <td>
                        @welcome.AddressX
                    </td>
                    <td>
                        @welcome.Location
                    </td>
                    <td>
                        @welcome.Neighborhood
                    </td>
                    <td>
                        @welcome.Zip
                    </td>
                </tr>
            }
        }

    </table>
</div>
